/* date.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Courier", monospace;
  background-color: #fff5e4;
  color: #ff9494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centraliza verticalmente */
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  gap: 20px; /* ADICIONA espaço entre os elementos dentro do form */
}

label {
  margin-bottom: 20px; /* OU 30px pra mais espaço */
}




form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ff9494;
}



.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
