body {
  margin: 0;
  padding: 0;
  font-family: "Courier", monospace;
  background-color: #fff5e4;
  color: #ff9494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centraliza verticalmente */
  height: 100vh;
  text-align: center;
}

#dessertquestion {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 0 20px;
}

.dessert-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.dessert-item {
  text-align: center;
}

.dessert-item img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #ff9494;
  object-fit: cover;
  padding: 10px;
  transition: 0.2s;
}

.dessert-item label {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Courier";
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border-color: #ff9494;
}
